

* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing:	border-box;
		box-sizing: border-box;
}

h2 {
	background-color: #33bebe;
}

body {
	width: 600px;
	margin: 0 auto;

}

img {
	width: 450px;
	height: auto;

}

.lesson {
	width: 100%;
	background-color: #696969;
}

.italic {
	font-style: italic;
}
